body{
width: 1200px;
background: url(https://www.nuttaputch.com/wp-content/uploads/2014/10/bigstock-Old-books-on-a-wooden-shelf-N-46537213-759x500.jpg) fixed no-repeat;
background-size: cover;
}
.menu{
  
}
h1{
  font-style: oblique;
  padding-left: 600px;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 190px;
}
