body{
background: url(https://www.nuttaputch.com/wp-content/uploads/2014/10/bigstock-Old-books-on-a-wooden-shelf-N-46537213-759x500.jpg) fixed no-repeat;
background-size: cover;
}
.menu{
  font-size: 30px;
  position: absolute;
  top: 160px;
  left: 70px;
}
.header{
  display: inline-block;
}
.header h1{
  font-style: oblique;
  font-size: 80px;
  font-weight: bold;
  width: 70px;
}
.header img{
  margin-left: 10px;
  position: absolute;
  left: 100px;
  top: 10px;
}
.description{
  text-align:right;
  font-size: 30px;
  position: absolute;
  top: 160px;
  right: 20px;
  width: 50%;
  color: black;
  font-family: georgia;
}
