body{
background: url(https://www.nuttaputch.com/wp-content/uploads/2014/10/bigstock-Old-books-on-a-wooden-shelf-N-46537213-759x500.jpg) fixed no-repeat;
background-size: cover;
}
.user{
  position: absolute;
  top: 160px;
  left: 200px;
  width: 900px;
  height: 200px;
  border-color: darkred;
  border-style: groove;
  caption-side: bottom;
}
.menu{
  position: absolute;
  top: 160px;
  left: 90px;
}
.menu a{
  font-size: 30px;
  font-family: georgia;
  color: black;
}
.menu a.selected{
  color: white;
  text-decoration: blink;
}
.header{
  display: inline-block;
}
.header h1{
  font-style: oblique;
  position: absolute;
  color: black;
  top: 20px;
  left: 350px;
  font-size: 80px;
  font-weight: bold;
}
.header img{
  border-radius: 30px;
  margin-left: 10px;
  position: absolute;
  left:255px;
  top: 75px;
}
.description{
  text-align:right;
  font-size: 30px;
  position: absolute;
  top: 160px;
  right: 20px;
  width: 50%;
  color: black;
  font-family: georgia;
}
