body{
width: 1200px;
background: url(https://www.nuttaputch.com/wp-content/uploads/2014/10/bigstock-Old-books-on-a-wooden-shelf-N-46537213-759x500.jpg) fixed no-repeat;
background-size: cover;
}
.menu{
  
}
.header h1{
  font-style: oblique;
  float: center;
  font-size: 80px;
  font-weight: bold;
}
.header img{
  margin-left: 10px;
  position: absolute;
  left: 100px;
  top: 10px;
}
.description{
  text-align: right;
  font-size: 25px;
  float: right;
  color: blue;
  font-family: georgia;
}
